<!DOCTYPE HTML>
<html class="no-js">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Societo || Contato</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<!-- CSS
  ================================================== -->
<!-- <link href="css/bootstrap.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="plugins/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css"> -->
<!-- <link rel="stylesheet" type="text/css" href="plugins/rs-plugin/css/settings.css" media="screen" /> -->
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
<!-- Color Style -->
<!-- <link href="colors/green.css" rel="stylesheet" type="text/css"> -->
<%= stylesheet_link_tag "application" %>
<!-- SCRIPTS
  ================================================== -->
<script src="js/modernizr.js"></script><!-- Modernizr -->
</head>
<body>
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]--> 
<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>
</div>
<!-- Start Body Container -->
<div class="body footer-style3 header-style6"> 
  <!-- Start Header -->

  <header class="site-header" id="sticky-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="logo"> <a href="index.html"> <%= image_tag "/assets/images/logo@2x.png" %> </a> </h1>
        </div>
        <div class="col-md-9">
          <button class="mmenu-toggle"><i class="fa fa-bars fa-lg"></i></button>
          <nav class="main-menu">
            <ul class="sf-menu" id="main-menu">
              <li><a href="index.html">Societo </i></a>
              </li>
              
              <li><a href="planos.html">Filie-se </a></li>
              
			<li><a href="#">Cidades <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown">
                  <li><a href="belo-horizonte.html">Belo Horizonte</a>
                  		<ul class="dropdown">
                      		<li><a href="#">Societo Beer &amp; Wine </a></li>
                      		<li><a href="#">Societo Gourmet</a></li>
                      		<li><a href="#">Societo Night</a></li>
                      		<li><a href="#">Societo Shopping</a></li>
                    	</ul>
                  </li>
                 <!-- <li><a href="#">Rio de Janeiro</a>
                  		<ul class="dropdown">
                      		<li><a href="#">Em Breve </a></li>
                    	</ul>
                  </li>
                   <li><a href="#">São Paulo</a>
                    	<ul class="dropdown">
                      	<li><a href="#">Em Breve</a></li>
                    	</ul>
                	</li> 
                -->
                </ul>
              </li>
            
            
              <li><a href="contato.html">Fale Conosco </a></li>
              <li><a href="page-faqs.html">FAQ </a></li>
                </ul>
              
            
          </nav>
        </div>
      </div>
    </div>

    <nav class="mobile-menu">
      <div class="container">
        <div class="row"></div>
      </div>
    </nav>
  </header>
  <!-- End Header -->
  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content page-content full">

      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2>Entre em contato conosco</h2>
            <p>Envie-nos um e-mail com sua sugestão, crítica ou elogio.</p>

            <%= render 'form' %>

            <div class="clearfix"></div>
            <div id="message"></div>
          </div>
          <div class="col-md-5 sidebar right-sidebar">

            <h3>Social</h3>
            <ul class="social-icons-list">
              <li><a href="#"><i class="fa fa-facebook-square fa-3x"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square fa-3x"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube-square fa-3x"></i></a></li>
            </ul>
            <ul>
              <li><strong><i class="fa fa-phone"></i> Telefone</strong> XXX XXX XXX</li>
              <li><strong><i class="fa fa-envelope"></i> Email</strong> <a href="mailto:enquiries@tentered.com">XXXX@XXXX.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Start Footer -->
  <footer class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-2"> <%= image_tag "/assets/images/logo.png", alt: "Tentered",  class: "site-logo"%> </div>
        <div class="col-md-4">
          <p>&copy; Societo 2014. Todos os direitos reservados.</p>
        </div>
        <div class="col-md-6">
          <ul class="social-icons-bar pull-right">
            <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a></li>

          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer --> 
  <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a> </div>
<!-- End Body Container --> 
<script src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- Jquery Library Call --> 
<script>if (typeof jQuery == 'undefined') {document.write(unescape("%3Cscript src='js/jquery-2.0.0.min.js' type='text/javascript'%3E%3C/script%3E"));}</script> 
<script src="plugins/prettyphoto/js/prettyphoto.js"></script>
<script src="plugins/prettyphoto/js/prettyphoto.js"></script> 
<script src="js/bootstrap.js"></script> <!-- UI -->  
<script src="plugins/owl-carousel/js/owl.carousel.min.js"></script> 
<script src="plugins/page-scroller/jquery.pagescroller.js"></script> 
<script src="js/helper-plugins.js"></script> <!-- Plugins --> 
<script src="js/init.js"></script> <!-- All Scripts --> 
<script src="http://maps.google.com/maps/api/js?sensor=false"></script> <!-- Google Map --> 
<script src="js/jquery.gmap.js"></script> <!-- jQuery Map -->  
<script>
	jQuery(document).ready(function(){
			jQuery('.w-map-h').gMap({
				controls: {
					panControl: false,
					zoomControl: true,
					mapTypeControl: true,
					scaleControl: false,
					streetViewControl: false,
					overviewMapControl: false
				},
				address: "1600 Amphitheatre Parkway, Mountain View, CA 94043, United States",
				zoom: 13,
				markers:[
					{
						address: "1600 Amphitheatre Parkway, Mountain View, CA 94043, United States",
						html: "Tentered",
						icon: {
							image: "images/map-pin.png",
							iconsize: [34, 50],
							iconanchor: [12, 46]
						},
						popup: false
					}
				]
			});
		});
</script> 
<!-- End Js --> 
</body>
</html>