<div class="main" role="main">
  <div id="content" class="content page-content full">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>Entre em contato conosco</h2>
          <p>Envie-nos um e-mail com sua sugestão, crítica ou elogio.</p>
          <%= render 'form' %>
          <div class="clearfix"></div>
          <div id="message"></div>
        </div>
        <div class="col-md-5 sidebar right-sidebar">
          <h3>Social</h3>
          <ul class="social-icons-list">
            <li><a href="#"><i class="fa fa-facebook-square fa-3x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter-square fa-3x"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-square fa-3x"></i></a></li>
          </ul>
          <ul>
            <li><strong><i class="fa fa-phone"></i> Telefone</strong> XXX XXX XXX</li>
            <li><strong><i class="fa fa-envelope"></i> Email</strong> <a href="mailto:enquiries@tentered.com">XXXX@XXXX.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>