<ul class="nav nav-list">
  <li class="nav-header"> Menu </li>
  <li class="active"> <%= link_to 'Clientes', clientes_path %> </li>
  <li class="active"> <%= link_to 'Parceiros', users_path %> </li>
  <li class="active"> <%= link_to 'Atividades', atividades_index_path %> </li>
  <li class="active"> <%= link_to 'Email Alerta Renovação', email_expiracao_planos_path %> </li>
</ul>