<!DOCTYPE HTML>
<html class="no-js">
	<%= yield :head %>
	<body>
		<div id="preloader">
		  <div id="status"></div>
		</div>
		<div class="body footer-style3 header-style6"> 
			<%= render 'layouts/header' %>
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
