<% content_for :head do %>
  <head>
  <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= full_title("FAQS") %></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- SCRIPTS
      ================================================== -->
  </head>
<% end %>

<div class="main" role="main">
  <div id="content" class="content page-content full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Sobre o Societo</h2>
          <h1><p>Perguntas e respostas sobre o Clube de Vantagens mais completo do Brasil</p></h1>
          <hr>
          <div class="tabs">
            <ul class="nav nav-tabs nav-justified">
              <li class="active"> <a data-toggle="tab" href="#tab-funcionamento"> Funcionamento </a> </li>
              <li> <a data-toggle="tab" href="#tab-planos"> Planos </a> </li>
              <li> <a data-toggle="tab" href="#tab-pagamento"> Pagamento </a> </li>
            </ul>
            
            <!--FUNCIONAMENTO 8-->
            <div class="tab-content">
              <div id="tab-funcionamento" class="tab-pane active">
                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle active" data-toggle="collapse" data-parent="#" href="#funcionamento1"> 
                  	O que é Societo? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="funcionamento1" class="accordion-body in collapse">
                    <div class="accordion-inner"> 
				
				Societo é  o clube de vantagens mais completo do Brasil, pois te dá benefícios em estabelecimentos de diversos ramos.
				Os nossos parceiros são escolhidos criteriosamente, para oferecer aos associados descontos nos melhores lugares da cidade.
				
				            </div>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#funcionamento2"> 
                  	Quais são os benefícios? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="funcionamento2" class="accordion-body collapse">
                    <div class="accordion-inner">Cada Societo possui um padrão diferente de benefícios. <br>
                      Com o <span class="strong">Societo Gourmet</span>, você recebe desconto de 30 a 50% na conta, excluindo bebidas e sobremesas.<br>
                      Com o <span class="strong">Societo Beer &amp; Wine</span>, na compra de cervejas, chopps ou vinhos você ganha a mesma quantidade do mesmo item grátis. A quantidadade diária é limitada pelo estabelecimento.<br>
                    Já o <span class="strong">Societo Night</span> oferece descontos de 30 a 50% na entrada de baladas e 30% na hospedagem em móteis.<br>
                    O <span class="strong">Societo Shopping</span> te dá descontos de pelo menos 15% em lojas parceiras.
                    </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#funcionamento7"> 
                  	Como eu me cadastro? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="funcionamento7" class="accordion-body collapse">
                    <div class="accordion-inner">  
                    	
                    	Para se cadastrar, <a href="planos.html">escolha um plano</a> e preencha o formulário de cadastro. Em seguida você será encaminhado ao Pagseguro para realizar o pagamento.


				            </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#funcionamento3"> 
                  	Como eu faço para escolher um estabelecimento? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="funcionamento3" class="accordion-body collapse">
                    <div class="accordion-inner"> 
                    	
                    	<a href="belo-horizonte.html">Escolha dentre a nossa lista de parceiros</a>, um que ofereça desconto na data e horário desejado.
                    	
                  	</div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#funcionamento8">Quando e com que frequência eu posso utilizar os benefícios? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="funcionamento8" class="accordion-body collapse">
                    <div class="accordion-inner">Você pode receber os descontos proporcionados pelo Societo quantas vezes quiser enquanto durar o seu plano.<br>
                    Porém os estabelecimentos podem restringir os dias da semana e os horários em que o Societo poderá ser aceito. Portanto, sempre verifique as condições de uso de cada estabelecimento.</div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#funcionamento6"> 
                  	Como eu faço para receber os descontos? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="funcionamento6" class="accordion-body collapse">
                    <div class="accordion-inner"> 
                    	
                    	Ao chegar ao estabelecimento, diga ao atendente que você é filiado do Societo. Quando for pagar, apresente seu documento que contenha seu número de CPF. </div>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#funcionamento5"> 
                  	Meus acompanhantes podem receber o benefício? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="funcionamento5" class="accordion-body collapse">
                    <div class="accordion-inner">Com o Societo Gourmet, os seus acompanhantes também recebem os benefícios, já que o desconto é sobre o valor da conta. Porém, é sempre importante verificar as condições de uso de cada estabelecimento.
                    </div>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#funcionamento4"> 
                  	Eu posso "emprestar" meu Societo a alguém? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="funcionamento4" class="accordion-body collapse">
                    <div class="accordion-inner"> 
                    	
                    	Não. O plano é pessoal e intransferível. 
                    	 
                  	</div>
                  </div>
                </div>
              </div>
              
            <!-- PLANOS -->
              <div id="tab-planos" class="tab-pane">
                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle active" data-toggle="collapse" data-parent="#" href="#planos1"> 
                  	Quais as vantagens do plano mensal? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="planos1" class="accordion-body in collapse">
                    <div class="accordion-inner"> 
                    	
                    	O plano mensal é para pessoas que desejam maior flexibilidade. O pagamento é mensal, por <strong>débito automático</strong>, via 
                    	<strong>Pagseguro</strong>. O associado poderá cancelar sua assinatura a qualquer momento.
                    	
                    </div>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#planos2"> 
                  	Quais as vantagens do plano anual? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="planos2" class="accordion-body collapse">
                    <div class="accordion-inner"> 

					O plano anual é o mais econômico.
					
				            </div>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#planos3"> 
                  	Como funciona o Plano Amigo? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="planos3" class="accordion-body collapse">
                    <div class="accordion-inner"> 
                    	O Plano Amigo permite que dois amigos ou um ainda mais baixo.                      	
                  	</div>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#planos4"> 
                  	Existe alguma condição especial para o uso do Plano Amigo? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="planos4" class="accordion-body collapse">
                    <div class="accordion-inner"> 
                    	Não. A única diferença é a economia no segundo plano. <i class="fa fa-smile-o"></i> 
				            </div>
                  </div>
                </div>
              </div>

			<!-- PAGAMENTO -->
              <div id="tab-pagamento" class="tab-pane">
                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle active" data-toggle="collapse" data-parent="#" href="#pagamento1"> 
                  	Quais são as formas de pagamento? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="pagamento1" class="accordion-body in collapse">
                    <div class="accordion-inner">

				O Societo usa o Pagseguro como modo de pagamento. O Pagseguro é um dos meios de pagamento mais usado em comércio eletrônico. Além de confiável e seguro, é simples de se usar.
										 
				            </div>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#pagamento2"> 
                  	Qual é a opção de pagamento para o plano mensal? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="pagamento2" class="accordion-body collapse">
                    <div class="accordion-inner"> 

				Pagseguro Assinaturas. O pagamento é mensal, via débito automático.
				
				            </div>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#pagamento3"> 
                  	Eu posso cancelar o plano mensal? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                  <div id="pagamento3" class="accordion-body collapse">
                    <div class="accordion-inner"> 

				Sim. Porém a vigência de cada mensalidade é de 30 dias. O cancelamento deve ser solicitado até 7 dias antes do fim do vencimento.
				<p>Por exemplo, se a vigência de seu plano for até dia 25/01 você deverá efetuar o cancelamento até o dia 18/01, e o seu plano continuará ativo até o dia 25/01, independente da data em que a solicitação foi feita.</p>
				
				            </div>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#pagamento4"> 
                  	Qual é a opção de pagamento para o plano ANUAL? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                  </div>
                <div id="pagamento4" class="accordion-body collapse">
                  <div class="accordion-inner"> 

			Pagseguro. O pagamento é à vista, podendo ser parcelado sob condições do Pagseguro.
			
			            </div>
                </div>
              </div>

              <div class="accordion-group">
                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#pagamento5"> 
                	Eu posso cancelar o plano ANUAL? <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a>
                </div>
                <div id="pagamento5" class="accordion-body collapse">
                  <div class="accordion-inner"> 

  		A vigência do plano anual é de 12 meses. O cancelamento deverá ser solicitado até 
  		
              		</div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>